.wrapperNavBtns {
    display: flex;
    gap: 15px;

    .navBtns {
        text-decoration: none;
        color: white;
        transition: 0.5s color;
        &:hover {
            color: #000;
        }
    }
}

.logo {
    flex-grow: 1;
}