%controlBtnsCurrency {
    align-self: center;
    cursor: pointer;
}

.wrapperInpCurrency {
    display: flex;
    gap: 5px;

    .isFavorite {
        @extend %controlBtnsCurrency;
        color: #FFFF00;
        &:hover {
            color: rgba(75, 79, 79, 0.5);
        }
    }
    
    .notFavorite {
        @extend %controlBtnsCurrency;
        color: rgba(75, 79, 79, 0.5);
        &:hover {
            color: #FFFF00;
        }
    }

    .deleteCurrency {
        @extend %controlBtnsCurrency;
        color: rgba(75, 79, 79, 0.5);
        &:hover {
            color: rgb(0, 0, 0);
        }
    }
}