.currencyList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(66, 165, 245);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

.wrapperAddCurrency {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.addCurrency {
    display: flex;
    align-items: center;
    color: #fff;
    transition: 1s;
    cursor: pointer;
    &:hover {
        color: #000;
    }
}